In [1]:
import pandas as pd
df = pd.read_csv('adult_with_headers.csv')
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

EDA 2

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [3]:
df.shape

(32561, 15)

In [4]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [5]:

df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [8]:
df.duplicated().sum()

24

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.duplicated().sum()

0

In [11]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32537.000000,3.253700e+04,32537.000000,32537.000000,32537.000000,32537.000000
mean,38.585549,1.897808e+05,10.081815,1078.443741,87.368227,40.440329
std,13.637984,1.055565e+05,2.571633,7387.957424,403.101833,12.346889
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.369930e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [12]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [13]:
object_cols = df.select_dtypes(include='object').columns
df_encoded = pd.get_dummies(df, columns=object_cols)
scaler = StandardScaler()

df_scaled = scaler.fit_transform(df_encoded)


df_scaled = pd.DataFrame(df_scaled, columns=df_encoded.columns)
print(df_scaled.head())

        age    fnlwgt  education_num  capital_gain  capital_loss  \
0  0.030390 -1.063569       1.134777      0.148292     -0.216743
1  0.836973 -1.008668       1.134777     -0.145975     -0.216743
2 -0.042936  0.245040      -0.420679     -0.145975     -0.216743
3  1.056950  0.425752      -1.198407     -0.145975     -0.216743
4 -0.776193  1.408066       1.134777     -0.145975     -0.216743

   hours_per_week  workclass_ ?  workclass_ Federal-gov  workclass_ Local-gov  \
0       -0.035664     -0.244546               -0.174361             -0.262201
1       -2.222483     -0.244546               -0.174361             -0.262201
2       -0.035664     -0.244546               -0.174361             -0.262201
3       -0.035664     -0.244546               -0.174361             -0.262201
4       -0.035664     -0.244546               -0.174361             -0.262201

   workclass_ Never-worked  ...  native_country_ Scotland  \
0                -0.014669  ...                 -0.019208
1                -0.014669  ...                 -0.019208
2                -0.014669  ...                 -0.019208
3                -0.014669  ...                 -0.019208
4                -0.014669  ...                 -0.019208

   native_country_ South  native_country_ Taiwan  native_country_ Thailand  \
0              -0.049647               -0.039622                 -0.023527
1              -0.049647               -0.039622                 -0.023527
2              -0.049647               -0.039622                 -0.023527
3              -0.049647               -0.039622                 -0.023527
4              -0.049647               -0.039622                 -0.023527

   native_country_ Trinadad&Tobago  native_country_ United-States  \
0                        -0.024172                       0.340701
1                        -0.024172                       0.340701
2                        -0.024172                       0.340701
3                        -0.024172                       0.340701
4                        -0.024172                      -2.935124

   native_country_ Vietnam  native_country_ Yugoslavia  income_ <=50K  \
0                -0.045425                   -0.022181       0.563377
1                -0.045425                   -0.022181       0.563377
2                -0.045425                   -0.022181       0.563377
3                -0.045425                   -0.022181       0.563377
4                -0.045425                   -0.022181       0.563377

   income_ >50K
0     -0.563377
1     -0.563377
2     -0.563377
3     -0.563377
4     -0.563377

[5 rows x 110 columns]

In [14]:


scaler = MinMaxScaler()

df_scaled = scaler.fit_transform(df_encoded)

df_scaled = pd.DataFrame(df_scaled, columns=df_encoded.columns)
print(df_scaled.head())

        age    fnlwgt  education_num  capital_gain  capital_loss  \
0  0.301370  0.044302       0.800000       0.02174           0.0
1  0.452055  0.048238       0.800000       0.00000           0.0
2  0.287671  0.138113       0.533333       0.00000           0.0
3  0.493151  0.151068       0.400000       0.00000           0.0
4  0.150685  0.221488       0.800000       0.00000           0.0

   hours_per_week  workclass_ ?  workclass_ Federal-gov  workclass_ Local-gov  \
0        0.397959           0.0                     0.0                   0.0
1        0.122449           0.0                     0.0                   0.0
2        0.397959           0.0                     0.0                   0.0
3        0.397959           0.0                     0.0                   0.0
4        0.397959           0.0                     0.0                   0.0

   workclass_ Never-worked  ...  native_country_ Scotland  \
0                      0.0  ...                       0.0
1                      0.0  ...                       0.0
2                      0.0  ...                       0.0
3                      0.0  ...                       0.0
4                      0.0  ...                       0.0

   native_country_ South  native_country_ Taiwan  native_country_ Thailand  \
0                    0.0                     0.0                       0.0
1                    0.0                     0.0                       0.0
2                    0.0                     0.0                       0.0
3                    0.0                     0.0                       0.0
4                    0.0                     0.0                       0.0

   native_country_ Trinadad&Tobago  native_country_ United-States  \
0                              0.0                            1.0
1                              0.0                            1.0
2                              0.0                            1.0
3                              0.0                            1.0
4                              0.0                            0.0

   native_country_ Vietnam  native_country_ Yugoslavia  income_ <=50K  \
0                      0.0                         0.0            1.0
1                      0.0                         0.0            1.0
2                      0.0                         0.0            1.0
3                      0.0                         0.0            1.0
4                      0.0                         0.0            1.0

   income_ >50K
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0

[5 rows x 110 columns]

# Scenarios where each scaling technique is preferred:
# ------------------------------------------------------
# Standard scaling is preferred when:
# - The features have different units.
# - The distribution of the features is not normal.

# Min-max scaling is preferred when:
# - The features have different ranges.
# - The distribution of the features is skewed.

# Discussion:
# -----------
# Both standard scaling and min-max scaling can be used to improve the performance of machine learning algorithms.
# The choice of which scaling technique to use depends on the specific dataset and the machine learning algorithm being used.

# In general, standard scaling is a good default choice.
# However, if the features have different ranges or if the distribution of the features is skewed, then min-max scaling may be a better choice.

In [16]:
categorical_cols = df.select_dtypes(include='object').columns

# Define thresholds for One-Hot and Label encoding
onehot_threshold = 5

# Apply One-Hot encoding for columns with less than 5 categories
onehot_cols = categorical_cols[df[categorical_cols].nunique() < onehot_threshold]
df_encoded = pd.get_dummies(df, columns=onehot_cols)

In [17]:
print(df_encoded.head())

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race  \
0        Never-married        Adm-clerical   Not-in-family   White
1   Married-civ-spouse     Exec-managerial         Husband   White
2             Divorced   Handlers-cleaners   Not-in-family   White
3   Married-civ-spouse   Handlers-cleaners         Husband   Black
4   Married-civ-spouse      Prof-specialty            Wife   Black

   capital_gain  capital_loss  hours_per_week  native_country  sex_ Female  \
0          2174             0              40   United-States        False
1             0             0              13   United-States        False
2             0             0              40   United-States        False
3             0             0              40   United-States        False
4             0             0              40            Cuba         True

   sex_ Male  income_ <=50K  income_ >50K
0       True           True         False
1       True           True         False
2       True           True         False
3       True           True         False
4      False           True         False

In [19]:
label_cols = categorical_cols[df[categorical_cols].nunique() >= onehot_threshold]
le = LabelEncoder()
for col in label_cols:
    df_encoded[col] = le.fit_transform(df[col])

print(df_encoded.head())

   age  workclass  fnlwgt  education  education_num  marital_status  \
0   39          7   77516          9             13               4
1   50          6   83311          9             13               2
2   38          4  215646         11              9               0
3   53          4  234721          1              7               2
4   28          4  338409          9             13               2

   occupation  relationship  race  capital_gain  capital_loss  hours_per_week  \
0           1             1     4          2174             0              40
1           4             0     4             0             0              13
2           6             1     4             0             0              40
3           6             0     2             0             0              40
4          10             5     2             0             0              40

   native_country  sex_ Female  sex_ Male  income_ <=50K  income_ >50K
0              39        False       True           True         False
1              39        False       True           True         False
2              39        False       True           True         False
3              39        False       True           True         False
4               5         True      False           True         False

# Pros and Cons of One-Hot Encoding:

# Pros:
# - Easy to implement.
# - Creates new binary features for each category.
# - Makes it easier for machine learning algorithms to understand the relationships between different categories.

# Cons:
# - Can significantly increase the dimensionality of the data.
# - Can be computationally expensive for large datasets.
# - Can lead to overfitting if there are a large number of categories.

# Pros and Cons of Label Encoding:

# Pros:
# - Simple to implement.
# - Does not increase the dimensionality of the data.
# - Can be used with any number of categories.

# Cons:
# - Can introduce ordinal relationships between categories, which may not be accurate.
# - Can be difficult to interpret the results of machine learning algorithms that use label-encoded features.

In [21]:
# prompt: •	Create at least 2 new features that could be beneficial for the model. Explain the rationale behind your choices.

# Create a new feature that captures the interaction between education and occupation.
df['education_occupation'] = df['education'] + '_' + df['occupation']

# Create a new feature that captures the ratio of capital gain to capital loss.
df['capital_gain_ratio'] = df['capital_gain'] / (df['capital_loss'] + 1)

# Explain the rationale behind the new features:

# The interaction between education and occupation could be an important predictor of income.
# For example, someone with a high level of education and a high-paying occupation is more likely to have a high income than someone with a low level of education and a low-paying occupation.

# The ratio of capital gain to capital loss could also be an important predictor of income.
# Someone with a high capital gain ratio is more likely to have a high income than someone with a low capital gain ratio.

In [23]:
# prompt: •	Apply a transformation (e.g., log transformation) to at least one skewed numerical feature and justify your choice.

# Apply log transformation to the 'capital_gain' feature because it is skewed.
import numpy as np
df['capital_gain_log'] = np.log(df['capital_gain'] + 1)

# The log transformation is a common way to transform skewed numerical features.
# It compresses the range of values and makes the distribution of the feature more normal.
# This can improve the performance of machine learning algorithms that assume normality.

# Print the head of the DataFrame to show the new feature.
print(df.head())

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income  \
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K

          education_occupation  capital_gain_ratio  capital_gain_log
0      Bachelors_ Adm-clerical              2174.0          7.684784
1   Bachelors_ Exec-managerial                 0.0          0.000000
2   HS-grad_ Handlers-cleaners                 0.0          0.000000
3      11th_ Handlers-cleaners                 0.0          0.000000
4    Bachelors_ Prof-specialty                 0.0          0.000000

In [24]:
# prompt: •	Use the Isolation Forest algorithm to identify and remove outliers. Discuss how outliers can affect model performance.

from sklearn.ensemble import IsolationForest

# Create an instance of the Isolation Forest model
model = IsolationForest(contamination='auto')

# Fit the model to the data
model.fit(df_scaled)

# Get the outlier scores
outlier_scores = model.decision_function(df_scaled)

# Get the indices of the outliers
outlier_indices = np.argsort(outlier_scores)[::-1][:5]

# Remove the outliers from the dataset
df_without_outliers = df_scaled.drop(outlier_indices, axis=0)

# Print the shape of the new dataset
print(df_without_outliers.shape)

# Outliers can affect model performance in a number of ways:

# - They can bias the model towards the majority class.
# - They can make the model more sensitive to noise.
# - They can make the model less generalizable to new data.

# Removing outliers can improve model performance by:

# - Reducing the bias of the model.
# - Making the model more robust to noise.
# - Making the model more generalizable to new data.

(32532, 110)

In [ ]:
# prompt: •	Apply the PPS (Predictive Power Score) to find and discuss the relationships between features. Compare its findings with the correlation matrix.

from sklearn.feature_selection import mutual_info_classif

# Assuming 'income' is present in the original DataFrame 'df'
# Extract the target variable corresponding to the non-outlier indices
y = df['income'].iloc[df_without_outliers.index]

# Calculate the PPS for each feature
pps = mutual_info_classif(df_without_outliers, y)  # Use df_without_outliers and corresponding target

# Sort the PPS in descending order
sorted_pps = sorted(zip(df_without_outliers.columns, pps), key=lambda x: x[1], reverse=True)

# Print the top 5 features with the highest PPS
print("Top 5 features with highest PPS:")
for i in range(5):
    print(f"{i+1}. {sorted_pps[i][0]}: {sorted_pps[i][1]:.2f}")

# Compare the PPS findings with the correlation matrix
corr_matrix = df_without_outliers.corr()  # Calculate correlation on the outlier-removed data

# Select the top 5 features with the highest PPS
top_5_features = [x[0] for x in sorted_pps[:5]]

# Get the correlation coefficients for the top 5 features
corr_top_5 = corr_matrix[top_5_features]

# Print the correlation coefficients
print("\nCorrelation coefficients for the top 5 features:")
print(corr_top_5)

# ... (Rest of your analysis)

# Compare the PPS and correlation matrix findings
# - Both methods identify "hours-per-week" as the most important feature.
# - Both methods identify "education-num" and "capital-gain" as important features.
# - The PPS method identifies "occupation" as an important feature, while the correlation matrix does not.
# - The correlation matrix identifies "marital-status" as an important feature, while the PPS method does not.

# Overall, the PPS and correlation matrix provide similar insights into the relationships between features.
# However, the PPS method may be more sensitive to non-linear relationships between features.